body {
  background-color: rgb(252, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh; /* Ensures the body covers the full height of the viewport */
  margin: 0; /* Removes default body margin */
}

h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.flex-links{
    font-size: 30px;
    color: black;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.flex-links a{
    color: black;
}

.flex-links a:hover{
    color: blue;
}

.QR{
    width: 150px;
    height: auto;
}

h2{
    font-size: 35px;
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;

}

.contacts {
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
}

/*
@media (max-width: 480px){
    h1{
    font-size: 30px; TO BE CONSIDERED FOR ADJUSTING PHONE SIZE
    }
}*/
